.wrapperSkills {
    background-color: #252527;
    min-height: 100vh;
}

.skills {
    flex-direction: column;
}

.description {
    width: 100%;
    /*border: 1px Solid;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #252527;
}

.wrapperItem {
    min-width: 250px;
    max-width: 25%;
    min-height: 300px;
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: 1px Solid #4e93e6;;
    background-color: #252527;
}

.wrapperItem h2{
    margin: 0 0 15px;
    padding: 0;
    color: #fff;
    font: 700 18px/1.2 'Josefin Sans', sans-serif;
}

.wrapperItem .descriptionSkills{
    font: 400 14px/1.8 'Poppins', sans-serif;
    color: #fff;
}

.image {
    width: 60px;
    height: 60px;
}

@media (max-width: 968px) {

    .skills {
        width: calc(100% - 250px);
    }
}

@media (max-width: 768px) {

    .skills {
        width: calc(100% - 25%);
    }
}

@media (max-width: 698px) {

    .skills {
        width: calc(100% - 25%);
    }
}

@media (max-width: 515px) {

    .skills {
        width: calc(100% - 10%);
    }

}