@import "../../common/style/sass/variables";

.header {
  height: 80px;
  background-color: $backgroundColor;
  align-items: center;
  display: flex;
  justify-content: space-around;
  font: 500 18px/1.2 'Josefin Sans', sans-serif;


  .container {
    width: 1920px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 50px;
      height: 50px;
      cursor: pointer;
      transition: .3s;
      fill: $textColor;
    }

    .logo:hover {
      fill: $textColorYellow;
    }
  }

}


@media (max-width: 400px) {

  .logo {
    display: none;
  }

  .container {
    padding: 0 5px;
  }
}