@import "../../common/style/sass/variables.scss";

.navList {
  display: flex;
  width: 350px;
  padding-left: 0;
  list-style: none;
  justify-content: space-between;

  .navItem {
    width: auto;

    .navLink {
      text-decoration: none;
      color: $textColor;
      transition: .3s;
    }
    .navLink:hover {
      color: $primaryColor;
    }
  }

}


@media (max-width: 460px) {
  .navList {
    justify-content: space-around;
    width: 330px;
  }

  .navbar {
    margin: 0 auto;
  }
}