@font-face {
    font-family: "Josefin Sans";
    src: url('./assets/fonts/static/JosefinSans-Bold.ttf');
}
@font-face {
    font-family: "Poppins";
    src: url('./assets/fonts/poppins/Poppins-Regular.ttf');
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1920px;
    padding: 0 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: calc(100% - 300px);
    margin: 0 auto;
    min-height: calc(100% - 400px);
    border: 1px Solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

