.wrapperContacts {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}
.title{

}
.contacts {
    width: calc(100% - 400px);
    margin: 0 auto;
    min-height: calc(100% - 400px);
    border: 1px Solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperInput{
min-width: 100px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

.textarea{
    display: block;
    width: 250px;
    border: 2px solid #BDAE82;
    background: rgba(0, 0, 0, 0.2);
    font-family: Inter;
    color: brown;
    font-size: 20px;
    resize: none;
}

.input{
    display: block;
    max-width:250px;
    height: 25px;
    border: 2px solid #BDAE82;
    background: rgba(0, 0, 0, 0.2);
    font-family: Inter;
    color:brown;
    font-size: 20px;
}